<a href="https://colab.research.google.com/github/kobeisfree94/Projects/blob/master/Game_Market_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/gdrive')

df = pd.read_csv('/content/gdrive/My Drive/Data AI_BootCamp/vgames2.csv')
df = df.iloc[: , 1:]

df

In [ ]:
#Check Missing Values
print(df.isnull().sum())
null_data = df[df.isnull().any(axis=1)]
null_data
df.info()

In [ ]:
#Unit Conversions from str -> int and M/K units
def unitConversion(x):
  if 'K' in x:
    return float(x.replace('K',''))/1000
  if 'M' in x:
    return float(x.replace('M',''))/1000000
  for str in x:
    return float(x.replace(',',''))

df['NA_Sales'] = df['NA_Sales'].apply(unitConversion)
df['EU_Sales'] = df['EU_Sales'].apply(unitConversion)
df['JP_Sales'] = df['JP_Sales'].apply(unitConversion)
df['Other_Sales'] = df['Other_Sales'].apply(unitConversion)

In [ ]:
#Total Sales 
df['Total_Sales'] = df['NA_Sales']+df['EU_Sales']+df['JP_Sales']+df['Other_Sales']
df

In [ ]:
#Check for Missing Value and drop
df.isnull
df = df.dropna(subset=['Year', 'Genre', 'Publisher'])
df.isna().sum()

In [ ]:
#Convert 1/2-digit values to 4-digit years
def toyear(x):
  if x < 20:
     return 2000 + x
  elif (x > 20) and (x < 99):
     return 1900 + x
  else:
     return x

df['Year'] = df['Year'].apply(toyear)

In [ ]:
#Functions for last20 and last5 years
def last20(x):
  if x > 2000:
    return int(x)
  else:
    pass
def last5(x):
  if x > 2015:
    return int(x)
  else:
    pass 

#Apply last 20 to df
df['Year']= df['Year'].apply(last20)

df['Year']= df['Year'].dropna().astype(int)

#Make copy and apply last 5 to df
df_R = df.copy()

df_R['Year'] = df_R['Year'].apply(last5)

df_R['Year'] = df_R['Year'].dropna().astype(int)

#Drop missing values of both dfs
df = df.dropna()

df_R = df_R.dropna()

#Find the top 100 for df and reset year to int
df_top100=df.sort_values('Total_Sales', ascending= False).head(100)

df_top100['Year']= df_top100['Year'].astype(int)

#Fidn the top 100 for df_R and reset year to int
df_R_top100 = df_R.sort_values('Total_Sales', ascending = False).head(100)

df_R_top100['Year']= df_R_top100['Year'].astype(int)

In [ ]:
df1 = df_top100.head(50).reset_index()
df1 = df1.drop(columns= 'index')
df1

In [ ]:
#Best Total Sales in the last20
df_top100_sales = df_top100['Total_Sales']
df_top100_sales

#Best Total Sales in the last5
df_R_top100_sales = df_R_top100['Total_Sales']
df_R_top100_sales

In [ ]:
#Best Selling Genre in the last20
q
df_top100_genre = df_top100_genre.loc[:,"NA_Sales":"Total_Sales"]
df_top100_genre = df_top100_genre.sort_values("Total_Sales", ascending= False)

df_top100_genre= df_top100_genre.reset_index()

df_top100_genre

In [ ]:
#Best Selling Genre in the last5
df_R_top100_genre= df_R_top100.groupby('Genre').sum()
df_R_top100_genre = df_R_top100_genre.loc[:,"NA_Sales":"Total_Sales"]
df_R_top100_genre = df_R_top100_genre.sort_values("Total_Sales", ascending= False)

df_R_top100_genre = df_R_top100_genre.reset_index()
df_R_top100_genre

In [ ]:
#Best Selling Platforms in the last20
df_top100_platform= df_top100.groupby('Platform').sum()
df_top100_platform = df_top100_platform.loc[:,"NA_Sales":"Total_Sales"]
df_top100_platform = df_top100_platform.sort_values("Total_Sales", ascending= False)

df_top100_platform= df_top100_platform.reset_index()
df_top100_platform

In [ ]:
df_top100_platform['Total_Sales'].sum()

1239.17001278

In [ ]:
#Best Selling Platforms in the last5
df_R_top100_platform= df_R_top100.groupby('Platform').sum()
df_R_top100_platform = df_R_top100_platform.loc[:,"NA_Sales":"Total_Sales"]
df_R_top100_platform = df_R_top100_platform.sort_values("Total_Sales", ascending= False)

df_R_top100_platform= df_R_top100_platform.reset_index()
df_R_top100_platform

In [ ]:
#Best Selling Publisher in the last20
df_top100_pub= df_top100.groupby('Publisher').sum()
df_top100_pub = df_top100_pub.loc[:,"NA_Sales":"Total_Sales"]
df_top100_pub = df_top100_pub.sort_values("Total_Sales", ascending= False)

df_top100_pub= df_top100_pub.reset_index()
df_top100_pub

In [ ]:
#Best Selling Publishers in the last5
df_R_top100_pub= df_R_top100.groupby('Publisher').sum()
df_R_top100_pub = df_R_top100_pub.loc[:,"NA_Sales":"Total_Sales"]
df_R_top100_pub = df_R_top100_pub.sort_values("Total_Sales", ascending= False)

df_R_top100_pub = df_R_top100_pub.reset_index()
df_R_top100_pub

In [ ]:
#Ttest between Overall Sales(last20) and Recent Sales(last5) by Total Sales

#Null Hypothesis: Overall Sales and Recent Sales are Independent
#Alternative Hypothesis: Overall Sales and Recent Sales are NOT Independent

import numpy as np
from scipy import stats

print(np.mean(df_top100_sales))
print(np.mean(df_R_top100_sales))

pval = stats.ttest_ind(df_top100_sales, df_R_top100_sales).pvalue

print(pval)

#P-Value is 2.2672 e-26, therefore we accept the Alternative Hypothesis and reject the Null Hypothesis
#DEPENDENT

12.391700127800002
0.5910000162000002
2.2672643547393913e-26

In [ ]:
#Total Sales by Publisher
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(25,10))
x = df_top100_pub['Publisher']
y = df_top100_pub['Total_Sales']


sns.barplot(data = df_top100_pub, x = x, y = y)

In [ ]:
df_top100_tidy = df_top100.melt(id_vars= 'Name', value_vars= ["Publisher", 'Total_Sales'])
df_top100_tidy

df_top100_tidy_pub=df_top100_tidy.head(100)
df_top100_tidy_sales=df_top100_tidy.tail(100)

df_top100_tidy_sales= df_top100_tidy_sales.reset_index()
df_top100_tidy_sales['Total_Sales']= df_top100_tidy_sales['value']
tidy_sales = df_top100_tidy_sales['Total_Sales']
df_top100_tidy_pub['Publisher']= df_top100_tidy_pub['value']
df_top100_pub_sales = pd.concat([df_top100_tidy_pub, tidy_sales], axis = 1)
df_top100_pub_sales = df_top100_pub_sales.drop('value', axis ='columns', inplace= False)
df_top100_pub_sales

In [ ]:
#df of Best Selling Nintendo Games from 2000-2020 in top 100 list
df = df_top100[df_top100.Publisher=='Nintendo']
df = df.reset_index()
df_nintendo = df.drop(columns='index')
df_nintendo

In [ ]:
#Best Selling Genre in the Nintendo 2000-2020
df_nintendo_genre= df_nintendo.groupby('Genre').sum()
df_nintendo_genre= df_nintendo_genre.drop(columns='Year').sort_values('Total_Sales', ascending= False)
df_nintendo_genre_total = df_nintendo_genre.loc[:,"Total_Sales":]

df_nintendo_genre_total

In [ ]:
#Best Selling Genre in the Nintendo 2000-2020 by Region
df_nintendo_genre_NA= df_nintendo_genre.loc[:,:"NA_Sales"]
df_nintendo_genre_NA= df_nintendo_genre_NA.sort_values('NA_Sales', ascending= False)
df_nintendo_genre_EU= df_nintendo_genre.loc[:,"EU_Sales":"EU_Sales"]
df_nintendo_genre_EU= df_nintendo_genre_EU.sort_values('EU_Sales', ascending= False)
df_nintendo_genre_JP= df_nintendo_genre.loc[:,"JP_Sales":"JP_Sales"]
df_nintendo_genre_JP= df_nintendo_genre_JP.sort_values('JP_Sales', ascending= False)
df_nintendo_genre_Others=df_nintendo_genre.loc[:,'Other_Sales':'Other_Sales']
df_nintendo_genre_Others= df_nintendo_genre_Others.sort_values('Other_Sales', ascending= False)

In [ ]:
#Total_genre
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize= (20,10))
x = df_nintendo_genre.index
y = df_nintendo_genre['Total_Sales']
sns.barplot(data=df_nintendo_genre, x=x, y=y)

In [ ]:
#NA_genre
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize= (10,5))
x = df_nintendo_genre_NA.index
y = df_nintendo_genre_NA['NA_Sales']
sns.barplot(data=df_nintendo_genre_NA, x=x, y=y)

In [ ]:
#EU_genre
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize= (10,5))
x = df_nintendo_genre_EU.index
y = df_nintendo_genre_EU['EU_Sales']
sns.barplot(data=df_nintendo_genre_EU, x=x, y=y)

In [ ]:
#JP_genre
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize= (10,5))
x = df_nintendo_genre_JP.index
y = df_nintendo_genre_JP['JP_Sales']
sns.barplot(data=df_nintendo_genre_JP, x=x, y=y)

In [ ]:
#Other_genre
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize= (10,5))
x = df_nintendo_genre_Others.index
y = df_nintendo_genre_Others['Other_Sales']
sns.barplot(data=df_nintendo_genre_Others, x=x, y=y)

In [ ]:
#Top 5 Genres
df_sport= df_nintendo[df_nintendo.Genre == 'Sports']
df_platform=df_nintendo[df_nintendo.Genre == 'Platform']
df_roleplay=df_nintendo[df_nintendo.Genre == 'Role-Playing']
df_misc=df_nintendo[df_nintendo.Genre == 'Misc']
df_racing= df_nintendo[df_nintendo.Genre == 'Racing']

In [ ]:
#Other Genres
df_action=df_nintendo[df_nintendo.Genre == 'Action']
df_simulation=df_nintendo[df_nintendo.Genre == 'Simulation']
df_fighting=df_nintendo[df_nintendo.Genre == 'Fighting']
df_puzzle= df_nintendo[df_nintendo.Genre == 'Puzzle']

In [ ]:
#Nintendo Sales by Year
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(15,7))
x = df_nintendo['Year']
y = df_nintendo['Total_Sales']
a = df_nintendo['Publisher']
plt.xticks(x)
sns.lineplot(data = df_nintendo, x = x, y = y, hue = a)

In [ ]:
#All Publisher Sales by Year
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(15,7))
x = df_top100['Year']
y = df_top100['Total_Sales']
a = df_top100['Publisher']
plt.xticks(x)
sns.lineplot(data = df_top100, x = x, y = y, hue = a)