<a href="https://colab.research.google.com/github/kobeisfree94/Projects/blob/master/Spam_Mail_Detect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
from google.colab import drive

drive.mount('/content/gdrive')

df = pd.read_csv('/content/gdrive/My Drive/DataSets/mail_data.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

Preprocessing

In [3]:
# replace null values with null string
df = df.where((pd.notnull(df)),'')

In [4]:
df.head(5)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.shape

(5572, 2)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

Label Encoding

In [7]:
#Label Spam as 0 and Ham as 1:

df.loc[df['Category'] == 'spam', 'Category',] = 0 
df.loc[df['Category'] == 'ham', 'Category',] = 1

In [8]:
df.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [9]:
X = df['Message']

Y = df['Category']

In [10]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [11]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

Train Test Split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)
print(X_train.shape, X_test.shape, X.shape)
print(y_train.shape, y_test.shape, Y.shape)

(4457,) (1115,) (5572,)
(4457,) (1115,) (5572,)

Feature Extraction

In [17]:
#Transform the text data to feature vectors
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase ='True')

In [20]:
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

#Convert y_train & y_test values as integers

y_train = y_train.astype(int)
y_test = y_test.astype(int)

In [ ]:
print(X_train)

In [ ]:
print(X_train_features)

Training the Model
___

In [23]:
model = LogisticRegression()

In [24]:
#Train the Logistic Regression model

model.fit(X_train_features, y_train)

LogisticRegression()

Evaluate the Model

In [30]:
train_pred = model.predict(X_train_features)
train_acc = accuracy_score(y_train, train_pred)
print('Train Accuracy:', train_acc)

Train Accuracy: 0.9679156383217411

In [29]:
test_pred = model.predict(X_test_features)
test_acc = accuracy_score(y_test, test_pred)
print('Test Accuracy:', test_acc)

Test Accuracy: 0.9668161434977578

Predictive System

In [39]:
def result(prediction):
  if prediction[0] == 1:
    print("Ham")
  else:
    print("Spam")

In [40]:
input_mail_1 = ["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times."]
input_data_features_1 = feature_extraction.transform(input_mail_1)

prediction1 = model.predict(input_data_features_1)
print(prediction1)
result(prediction1)

[1]
Ham

In [42]:
input_mail_2 = ["SIX chances to win CASH! From 100 to 20,000 pounds txt> CSH11 and send to 87575. Cost 150p/day, 6days, 16+ TsandCs apply Reply HL 4 info"]
input_data_features_2 = feature_extraction.transform(input_mail_2)

prediction2 = model.predict(input_data_features_2)
print(prediction2)
result(prediction2)

[0]
Spam